<div class="container" style="margin-top: 130px;">
  <div ng-controller="Auth">
    <input ng-hide="firebaseUser"  type="email" class="form-control" ng-model="email" placeholder="Email:">
    <input ng-hide="firebaseUser"  type="password" class="form-control" ng-model="password" placeholder="Password:">
    <button ng-hide="firebaseUser" class="btn btn-primary" ng-click="login(email, password)">Login</button>
    <button ng-show="firebaseUser" class="btn btn-primary" ng-click="logout()">Logout</button>
    <a ng-hide="firebaseUser" class="btn btn-primary" href="#/signup">
      Signup
    </a>
  </div>
  <div ng-controller="PlantController">
    <div class="row">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="searchBox" placeholder="Search">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="common" placeholder="Common Name:">
        <input type="text" class="form-control" ng-model="scientific" placeholder="Scientific Name:">
        <input type="text" class="form-control" ng-model="layertype" placeholder="Layer Type:">
        <input type="text" class="form-control" ng-model="use" placeholder="Use:">
        <button class="btn btn-primary" ng-click="addPlants()">Create New Plant</button>
      </div>
    </div>
    <div class="row well" ng-repeat="plant in plants | filter:searchBox">
      <div class="row">
        <div class="col-md-12">
          <h1 ng-hide="plant.editing"> {{plant.COMMON}}</h1>
          <div ng-show="plant.editing">
            <input type="text" ng-model="plant.COMMON" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 ng-hide="plant.editing"> Scientific Name: {{ plant.SCIENTIFIC }} </h3>
          <div ng-show="plant.editing">
            <input type="text" ng-model="plant.SCIENTIFIC" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 ng-hide="plant.editing"> Use: {{ plant.USE }}</h3>
          <div ng-show="plant.editing">
            <input type="text" ng-model="plant.USE" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 ng-hide="plant.editing"> Layertype: {{ plant.LAYERTYPE }} </h3>
          <div ng-show="plant.editing">
            <input type="text" ng-model="plant.LAYERTYPE" class="form-control">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <button ng-hide="plant.editing" class="btn btn-success " ng-click="edit(plant)">Edit</button>
          <button ng-show='plant.editing' class="btn btn-warning" ng-click="update(plant)">Update</button>
          <button ng-show='plant.editing' class="btn btn-default" ng-click="cancel(plant)">Cancel</button>
          <button class="btn btn-default pull-right" ng-click="plants.$remove(plant)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
