<div class="container" ng-controller="Auth">
  <div class="row">
    <br>
    <h1>Sign Up</h1>
    <br>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="firstName" placeholder="First Name:">
      <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name:">
      <input type="email" class="form-control" ng-model="email" placeholder="Email:">
      <input type="password" class="form-control" ng-model="password" placeholder="Password:">
      <button class="btn btn-primary" ng-click="createUser()">Sign Up</button>
    </div>
  </div>
<br><br>



<br><br>

<!-- <button ng-click="deleteUser()">Delete User</button> -->

<p ng-if="message">Message: <strong>{{ message }}</strong></p>
<p ng-if="error">Error: <strong>{{ error }}</strong></p>
</div>
